.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.leftDiv {
  flex: 0 0 30%;
  ;
}

.rightDiv {
  flex: 0 0 70%;
  ;
  align-self: flex-start;
  max-height: 780px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  background: #fff;
}

.rightDiv h2 {
  margin: 0;
  padding: 12px 10px;
  border-bottom: 2px solid #ddd;
}

thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 2px solid #ddd;
  padding: 10px;
}

.tableTitle {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  background: #fff;
}

form {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-with-dollar {
  position: relative;
}

.input-with-dollar input {
  padding-left: 20px;
}

.input-with-dollar::before {
  content: "$";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

button {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

table tbody tr:hover {
  background-color: #76acdf;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
}